.app__header
{
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
  
}
.app__header__image
{
    object-fit: contain;
}
.header
{
    position: sticky;
    top: 0;
    z-index: 1;
}